.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.item-has-focus .ht-imput-title{
  --ion-color-primary: var(--ion-color-secondary-shade) !important;
}